body{
    background-color: black;
}
h1{
    /* "Home" */
    text-align: center;
    color: blanchedalmond;
}
a{
    font-family: cursive;
    text-align: center;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: large;
    text-align: center;
    color: white;
}
table{
    color: rgb(24, 204, 204);
}
button{
    font-size: large;
    background-color:rgb(0, 217, 255);
}
/* the buttons on the home page */
#fender{
    
    margin-left: 550px;
}
#about{
    /* margin-left: 650px; */
}
img{
    margin-left: 550px;
    max-height: 450px;
    max-width: 450px;
}