body{
    background-color: black;
}
h1{
    color: blanchedalmond;
}
a{
    color: blue;
}
p{
    color: white;
}
table{
    color: rgb(24, 204, 204);
}
button{
    background-color:rgb(0, 217, 255);
}